.home {
  height: 100%;
  width: 100%;
  margin-top: 85px;
  background-color: var(--bg);
  display: flex;
  /* margin-top: 78px; */
}

.home-container-1 {
  height: 100%;
  width: 65%;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-container-2 {
  height: 100%;
  width: 35%;
  background-color: var(--bg);
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: flex-end; */
  /* padding: 20px; */
}

.stocks-dashboard-container {
  /* position: fixed;
  z-index: 1; */
  height: 80%;
  width: 50%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-radius: 10px;
  /* padding: 10px; */
  margin-top: 20px;
  /* padding-top: 20px; */
}

.stocks-dashboard-container {
/* 
  height: 30%;
  width: 100%;
  background-color: yellow;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: var(--bg);
  position: fixed;
  overflow-y: scroll;
  width: 28%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
              0 3px 24px rgba(0, 0, 0, 0.6);
  border-radius: 4px;

}

.stocks-dashboard {
  background-color: var(--bg);
}

.watchlist {
  height: 60%;
  background-color: black;
  border-radius: inherit;
}

.portfolio-chart {
  min-height: 500px;
  width: 70%;
  display: flex;
  background-color: var(--bg);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
              0 3px 24px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.stocks-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-decoration: none; */
}

/* .stock-idnex-container > div {
  padding: 10px;
} */

.stock-show-link {
  text-decoration: none;
  /* padding: 5px; */
}

.stock-show-link > div {
  padding: 10px;
  margin: 10px;
}

/* .stock-show-link:hover {
  background-color: var(--news-box-hover);
} */

.stocks-owned-title, .stocks-watched-title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--color-text);
  padding: 20px 0px 20px 0px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}

.stock-index {
  display: flex;
  height: 20%;
  border-radius: 8px;
}

.stock-index > div {
}

.stock-index:hover {
  background-color: var(--news-box-hover);
}

.stock-index-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-index-left > div {
  padding: 5px;
}

.stock-index {
  min-height: 80%;
  min-width: 80%;
  display: flex;
  justify-content: space-around;
}

.stock-index-symbol {
  color: var(--color-text);
  font-size: 18px;
  font-weight: bold;
}

.stock-index-shares {
  color: var(--color-text);
  display: flex;
  text-align: center;
  /* font-weight: bold; */
}

.stock-index-chart {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-mini-chart {
  width: 100px;
  height: 100px;
}

.stock-index-current-price {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  font-weight: bold;
}

