.home {
  height: 100%;
  width: 100%;
  margin-top: 85px;
  background-color: var(--bg);
  display: flex;
  margin-top: 78px;
}

.home-container-1 {
  height: 100%;
  width: 65%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-container-2 {
  height: 100%;
  width: 35%;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  padding: 20px;
  /* align-items: center; */
}

.watchlist-container {
  /* position: fixed;
  z-index: 1; */
  height: 80%;
  width: 65%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.stocks-owned-container {
  height: 30%;
  width: 100%;
  background-color: yellow;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stocks-owned {
  padding: 2px;
}

.watchlist {
  height: 60%;
  background-color: black;
  border-radius: inherit;
}

.portfolio-chart {
  height: 400px;
  width: 75%;
  display: flex;
  background-color: lightgreen;
}

