.home {
  height: 100%;
  width: 100%;
  margin-top: 85px;
  background-color: var(--bg);
  display: flex;
  margin-top: 78px;
}

.home-container-1 {
  height: 100%;
  width: 65%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.portfolio-chart {
  height: 20%;
  width: 75%;
  background-color: lightgreen;
}

.news {
  height: 60%;
  width: 75%;
  background-color: lightyellow;
}

.home-container-2 {
  height: 100%;
  width: 35%;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchlist-container {
  /* position: fixed;
  z-index: 1; */
  height: 80%;
  width: 65%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.stocks-owned-container {
  height: 30%;
  width: 100%;
  background-color: yellow;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stocks-owned {
  padding: 2px;
}

.watchlist {
  height: 60%;
  background-color: black;
  border-radius: inherit;
}

.portfolio-chart {
  min-height: 40%;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-info {
  width: 30%;
}

.news-item {
  display: flex;
  justify-content: center;

}

.article-img {
  max-width: 30%;
  max-height: 140px;
}