@mixin easeOut {
  transition: all 0.3s ease-out;
}
@mixin easeIn {
  transition: all 0.3s ease-in;
}

.home {
  /* height: 100%; */
  width: 100%;
  margin-top: 85px;
  background-color: var(--bg);
  display: flex;
  /* margin-top: 78px; */
}

.home-container-1 {
  height: 100%;
  width: 65%;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media screen and (max-width: 800px) {
    width: 1000%;
  }
}

.home-container-2 {
  height: 100%;
  width: 35%;
  background-color: var(--bg);
  display: flex;
  align-items: flex-start;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: flex-end; */
  padding-top: 20px;
}

.stocks-dashboard-container {
  background-color: var(--bg);
  position: fixed;
  overflow-y: scroll;
  width: 20%;
  max-height: 85%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.01), 0 3px 24px rgba(0,0,0,0.6);
  border-radius: 4px;
  @media screen and (max-width: 800px) {
    padding-top: 10px;
    z-index: 902;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    top: 0px;
    padding-bottom: 100px;
    background-color: var(--bg);
    visibility: hidden;
    @include easeOut;
    &.open {
      @include easeOut;
      left: 0vw;
      visibility: visible;
    }
    .stock-index-left .stock-index-chart {
      width: 200px;
      height: 100px;
    }
  }
}

.stocks-dashboard {
  background-color: var(--bg);
}

.watchlist {
  height: 60%;
  background-color: black;
  border-radius: inherit;
}

.stocks-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-decoration: none; */
}

/* .stock-idnex-container > div {
  padding: 10px;
} */

.stock-show-link {
  text-decoration: none;
  /* padding: 5px; */
}

.stock-show-link > div {
  padding: 10px;
  margin: 10px;
}

/* .stock-show-link:hover {
  background-color: var(--news-box-hover);
} */

.stocks-owned-title, .stocks-watched-title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--color-text);
  padding: 20px 0px 20px 0px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .stocks-owned-title {
    border-top: 0px solid var(--border-color);
  }
}

.stock-index {
  display: flex;
  height: 20%;
  border-radius: 8px;
}

.stock-index > div {
}

.stock-index:hover {
  background-color: var(--news-box-hover);
}

.stock-index-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-index-left > div {
  padding: 5px;
}

.stock-index {
  min-height: 80%;
  min-width: 80%;
  display: flex;
  justify-content: space-around;
}

.stock-index-symbol {
  /* font-family: var(--font-family); */
  color: var(--color-text);
  font-size: 18px;
  font-weight: bold;
}

.stock-index-shares {
  font-family: var(--font-family);
  color: var(--color-text);
  display: flex;
  text-align: center;
  /* font-weight: bold; */
}

.stock-index-shares-hidden {
  display: none;
}

.stock-index-chart {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-mini-chart {
  width: 100px;
  height: 100px;
}

.mini-chart-loader {
  display: block;
  margin: 0 auto;
  border-color: red;
}

.stock-index-current-price {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  color: var(--color-text);
  font-weight: bold;
}

