.nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  background-color: var(--bg);
  align-content: center;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 1;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 
              0 0  0 2px var(--bg),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
/* box-shadow: 1px 2px 5px 2px rgba(0,0,0,.2); */
}

.nav-left {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  left: 20px;
  font-family: var(--font-family);
  margin: 10px;
  padding-left: 20px;
}

.nav-left :first-child {
  display: flex;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  padding-left: 25px;
}

.contact :nth-child(2) {
  padding-left: 8px;
  padding-right: 8px;
}

/* .search-bar-container {
  display: flex;
  width: 200px;
  padding: 20px;
} */

.nav-mid {
  justify-items: flex-start;
}

.feather-logo {
  fill: var(--color);
}

.icon {
  fill: var(--color);
}

.icon:hover, .feather-logo:hover {
  fill: rgb(35,205,153);
  opacity: 1;
}

.nav-title {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: var(--color-text)
}

.nav-title h1 {
  text-decoration: none;
} 

.nav-title:hover {
  color: rgb(35,205,153);
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: flex-end;
  justify-content: space-between right;
  align-self: center;
  margin: 1px;
  padding-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav-right :first-child {
  padding: 10px;
  padding-right: 10px;
}

.nav-right :nth-child(2) {
  /* padding-bottom: 10px; */
  padding-left: 10px;
  padding-right: 10px;

}

.nav-right :nth-child(3) {
  padding-bottom: 10px;
}

.nav-right :last-child {
  padding: 10px;
}

.nav-right :hover {
  fill: rgb(35,205,153);
  opacity: 1;
}

.sign-up {
  font-family: var(--font-family);
  color: var(--color-text);
  height: 40px;
  width: 100%;
  background: rgb(35,205,153);
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  border-radius: 8px;
  text-decoration: none;
  background-image: linear-gradient(to left, transparent, transparent 50%,  rgb(24,86,62) 50%, rgb(24,86,62));
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.sign-up:hover {
  background-position: 0 0;
  color: #FCFCFC;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(24,86,62);
  filter: brightness(125%);
  overflow: hidden;
  transition: .5s ease;
}

.sign-in {
  color: var(--color-text);
  font-family: var(--font-family);
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  padding-right: 5px;
}

.sign-in :hover {
  color: rgb(35,205,153);
  filter: brightness(75%);
}

/* .sign-in > span {
  padding-bottom: 10px;
} */

.nav-right-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
  padding-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav-right-2 :first-child {
  padding: 10px;
  padding-right: 10px;
}

/* .nav-right-2 :nth-child(2) {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

} */


.home-button-container {
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  border-radius: 8px;
  text-decoration: none;
  background-image: linear-gradient(to left, transparent, transparent 50%,  rgb(24,86,62) 50%, rgb(24,86,62));
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.home-button {
  color: var(--color-text);
  font-family: var(--font-family);
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  padding: 30px;
  padding-left: 20px; 
}

.home-button :hover {
  color: rgb(35,205,153);
  filter: brightness(75%);
}

.log-out-container {
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  border-radius: 8px;
  text-decoration: none;
  background-image: linear-gradient(to left, transparent, transparent 50%,  rgb(24,86,62) 50%, rgb(24,86,62));
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.log-out {
  color: var(--color-text);
  font-family: var(--font-family);
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  
  /* padding: 30px; */
  padding-right: 20px; 
}

.log-out :hover {
  color: rgb(35,205,153);
  filter: brightness(75%);
}

.nav-mid-right-1 {
  display: flex;
  height: 100%;
  padding-right: 45px;
}

.nav-mid-right-2 {
  display: flex;
  height: 100%;
  padding-left: 5px;
  padding-right: 10px;
}

.demo {
  color: var(--color-text);
  font-family: var(--font-family);
  background: rgb(35,205,153);
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  border-radius: 8px;
  text-decoration: none;
  background-image: linear-gradient(to left, transparent, transparent 50%,  rgb(24,86,62) 50%, rgb(24,86,62));
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.demo:hover {
  background-position: 0 0;
  color: #FCFCFC;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(24,86,62);
  filter: brightness(125%);
  overflow: hidden;
  transition: .5s ease;
}
