.news {
  height: 60%;
  width: 75%;
  background-color: lightyellow;
  font-family: var(--font-family);
}

.news-container {
  width: 80%;
  /* padding-top: 45px; */
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 6px 2px var(--color); */
  // box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
  //             0 3px 24px rgba(0, 0, 0, 0.6);
  // border-radius: 4px;

  @media screen and (max-width: 800px) {
    box-shadow: none;
    border-radius: none;
    width: 100%;
  }
}

.index-title {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--color-text);
  padding: 20px 0px 20px 0px;
  /* padding-bottom: 20px; */
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 800px) {
    font-size: 24px;
    padding: 10px 0px 10px 0px;
  }
}

.news-index-item {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  /* width: 90%; */
  /* align-content: space-between; */
}

.news-index-item :hover {
  background-color: var(--news-box-hover);
  /* filter: brightness(30%); */
}

.news-item-link {
  display: flex;
  justify-content: space-around;
  /* align-content: space-between; */
  flex-direction: row-reverse;
  text-decoration: none;
  width: 90%;
  padding: 20px;
  border-radius: 8px;
  @media screen and (max-width: 800px) {
    padding: 10px;
    width: 95%;
  }
}

.article-info {
  width: 60%;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: var(--font-family);
  /* align-content: space-between; */
  @media screen and (max-width: 800px) {
    // font-size: 10px;
  }
}

.article-info > * {
  padding: 5px;
}

.article-info :first-child {
  color: var(--color-text);
  /* font-weight: bold; */
  font-size: 14px;
  text-decoration: none;
}

.article-info :nth-child(2) {
  color: var(--color-text);
  filter: brightness(80%);
  font-size: 14px;
  font-weight: bold;
}

.article-info :last-child {
  color: var(--color-text);
  filter: brightness(50%);
  font-size: 15px;
  @media screen and (max-width: 800px) {
    display: 14px;
    line-height: 1.2;
  }
}

.article-img {
  max-width: 35%;
  max-height: 35%;

  @media screen and (max-width: 800px) {
    max-width: 175px;
  }
}