.search-bar-wrapper {
  /* display: flex;
  position: fixed; */
  color: var(--color-text);
  background-color: var(--bg);
}
.search-bar-container {
  /* margin-left: 40px; */
  width: 600px;
  display: flex;
  flex-direction: column;
  position: fixed;
  /* left: 2%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  z-index: 999;
  left: 25%;
  top: 2%;
  /* border: 1px solid black; */
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.01),
              0 1px 10px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: var(--color-text);
  background-color: var(--bg);
  opacity: 0.65
}


.search-bar-container:hover { 
  cursor: pointer;
  opacity: 1;
}

.search-bar-container > div {
  padding: 3px;
}

.search-bar-contents-container {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
}

.search-bar-input {
  font-family: var(--font-family);
  width: 100%;
  font-size: 16px;
  height: 40px;
  border: 0;
  padding-left: 40px;
  /* padding: 12px 0px; */
  /* padding-left: 48px; */
  background: transparent;
  color: var(--color-text);
  /* border: 1px solid var(--search-bar-color); */
}

.search-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 4px;
  top: 6px;
  fill: var(--color);
  /* margin-right: 20px; */
  /* width: 500px; */
  /* color: blue; */
  /* display: flex; */
  /* justify-content: center; */
}

.search-results-container {
  /* background-color: var(--bg); */
  z-index: 20;
  height: 100%;
  width: 100%;
}

.search-results-container:hover {
  cursor: pointer;

}

.search-results-header {
  padding: 10px;
  font-size: 14px;
  color: var(--color-text);
  font-family: var(--font-family);
}

.search-results-item-container {
  width: 100%;
}

.search-results-item-container > div {
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.search-link {
  text-decoration: none;
}

.search-results-item {
  display: flex;
  /* text-decoration: none; */
  width: 100%;
  z-index: 20;
}

.search-results-item:hover {
  background-color: var(--news-box-hover);
  cursor: pointer;
}

.search-results-symbol {
  font-weight: bold;
  width: 100px;
  color: var(--color-text);
  font-family: var(--font-family);
  word-wrap: none;
  padding: 10px;
}

.search-results-name {
  font-weight: bold;
  color: var(--color-text);
  font-family: var(--font-family);
  width: 100%;
  padding: 10px;
}

