.splash-main {
  height: 100vh;
}
.splash-container-1 {
  background:  rgb(35,205,153);
  display: flex;
  justify-content: space-evenly;
  margin-top: 75px;
  height: 620px;
  width: 100%;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    height: 650px;
  }
}

.splash-container-2 {
  display: flex;
  height: 230px;
  min-height: 230px;
  width: 100%;
  min-width: 100%;
  font-size: 14px;
}

.splash-container-3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  background-color: var(--splash-bg);
  height: 600px;
  min-height: 600px;
  min-width: 200px;

  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.splash-part-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 14px;
  padding-bottom: 75px;
  padding-left: 50px;
  height: 100%;

  @media screen and (max-width: 800px) {
    justify-content: flex-start;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
  }
}

.splash-part-2 {
  padding: 60px;

  @media screen and (max-width: 800px) {
    line-height: 1.2;
  }

}

.splash-part-3 {
  background-color: var(--splash-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-text-1 {
  font-family: var(--font-family);
  font-weight: bold;
  width: 100%;
  align-items: flex-start;
  line-height: 36px;
  font-size: 4.4rem;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  color: var(--color-text);

  @media screen and (max-width: 800px) {
    font-weight: bold;
    font-size: 38px;
  }
}

.splash-text-2 {
  font-family: var(--font-family);
  font-weight: bold;
  line-height: 36px;
  font-size: 4.4rem;
  padding-bottom: 5px;
  left: 2.5rem;
  top: 5rem;
  width: 100%;
  align-items: flex-start;
  opacity: 0;
  animation-name: fadeInDown;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  color: var(--color-text);
  @media screen and (max-width: 800px) {
    font-size: 38px;
  }
}

.splash-text-3 {
  font-family:var(--font-family);
  font-size: 1.8rem;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: fadeInDown;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  padding-top: 30px;
  color: var(--color-text);
  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}


.splash-text-3 :nth-child(2) {
  padding: 15px 15px 15px 0;
}

.splash-text-4 {
  font-weight: bold;
  text-align: center;
  font-family: var(--font-family);
  font-size: 2.4rem;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2.0s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  color: var(--color-text);
  padding-bottom: 20px;


  @media screen and (max-width: 800px) {
    padding-top: 20px;
    font-size: 28px;
  }
}

.splash-text-5 {
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.2rem;
  left: 2.5rem;
  top: 5rem;
  width: 85%;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  color: var(--color-text);
  margin: 0 auto;


  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.splash-text-6 {
  font-family: var(--font-family);
  font-size: 24px;
  flex-direction: column-reverse;
  color: var(--color-text);

}

.splash-text-7 {
  font-family: var(--font-family);
  font-size: 54px;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 5px;
  color: var(--color-text);

  @media screen and (max-width: 800px) {
    font-size: 32px;
  }
}

.splash-text-8 {
  font-family: var(--font-family);
  font-size: 32px;
  text-align: center;
  color: var(--color-text);


  @media screen and (max-width: 800px) {
    font-size: 22px;
  }
}

.splash-vid-1 {
  padding-top: 20px;
  opacity: 0;
  animation: fadeIn 1s 1;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;


  @media screen and (max-width: 800px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


@media screen and (max-width: 800px) {
  .splash-vid-1-1 {
    width: 100%;
    height: 300px;
  }
}

.splash-vid-2 {
}

.splash-video {
  @media screen and (max-width: 800px) {
    // display: none;
    padding-top: 125px;
    width: 100%;
    height: 250px;
  }
}