.stock-show-main {
  /* height: 100%;
  width: 100%; */
  height: inherit;
  width: inherit;
  display: flex;
  /* background-color: grey; */
  margin-top: 78px;
}

.stock-show-container-1 {
  /* height: 100%;
  width: 70%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  height: 100%;
  width: 65%;
  background: var(--bg);
  display: flex;
  /* justify-content: space-between;
  flex-direction: column;
  align-items: flex-end; */
  /* margin-top: 20px; */
  /* border-radius: 10px; */
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.stock-show-container-1 > div {
  padding: 20px;
}

.stock-show-container-2 {
  /* height: 100%;
  width: 30%;
  background-color: lightcyan;
  display: flex;
  justify-content: space-around; */
  height: 100%;
  width: 25%;
  /* margin-top: 20px; */
  background: var(--bg);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: flex-end; */
  /* padding: 20px; */
  margin-top: 5px;
}

.stock-show-chart-container {
  font-family: var(--font-family);
  width: 750px;
  height: 400px;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
              0 3px 24px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  /* padding: 20px;  */
}

.stock-show-chart-header {
  padding-bottom: 5px;
}

.stock-show-chart-header > div {
  padding: 2px
}


.stock-show-name {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--color-text);
  display: flex;
  justify-content: flex-start;
  color: var(--color-text);
  font-weight: bold;
}

.stock-show-price {
  font-family: var(--font-family);
  color: var(--color-text);
  font-size: 36px;
  display: flex;
  justify-content: flex-start;
}

.stock-show-change {
  font-family: var(--font-family);
  color: var(--color-text);
  font-size: 13px;
}

/* .recharts-surface {
  padding: 10px;
} */

.stock-show-chart-ranges {
  font-family: var(--font-family);
  color: var(--color-text);
  display: flex;
  list-style-type: none;
  width: 90%;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

/* .chart-range-btn {
  font-family: var(--font-family);
  color: var(--color-text);
  width: 90%;
  font-weight: bold;
  font-size: 16px;
  padding: 10px
} */

.chart-range-btn-active {
  color:  rgb(35,205,153);
  text-decoration: underline;
  cursor: pointer;
}


.stock-show-chart-ranges > li {
  padding: 10px;
}

.stock-show-chart-ranges > li:hover {
  color:  rgb(35,205,153);
  text-decoration: underline;
  cursor: pointer;
}

/* .stock-show-chart-ranges > li:active {
  color:  rgb(35,205,153);
  text-decoration: underline;
  cursor: pointer;
} */

.stock-show-chart {
  height: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.show-graph-chart-container {
  /* border-bottom: 1px solid #eee; */
}

.stock-info-container {
  height: 260px;
  width: 750px;
  background-color: var(--bg);
  font-family: var(--font-family);
  color: var(--color-text);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
              0 3px 24px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.stock-info-header {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--color-text);
  padding: 5px 0px 20px 0px;
  /* padding-bottom: 20px; */
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
}

.stock-info-description {
  margin: 10px;
  letter-spacing: 0.6px;
  font-size: 14px;
}

.stock-info-description > div {
  margin: 20px;
}

.stock-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stock-stats-1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

}

.stock-stats-1 > div {
  font-size: 14px;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 30px; */
  margin: 20px;
}

.about-headers {
  font-weight: bold;
}

.stock-stats-2 {
  height: 60%;
  display: flex;
}

.stock-show-news-container {
  width: 750px;
  /* padding-top: 45px; */
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 6px 2px var(--color); */
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
              0 3px 24px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.stock-order-container {
  background-color: var(--bg);
  /* padding-top: 40px; */
  position: fixed;
  width: 300px;
  height: 400px;
  margin: 20px;
  /* box-shadow: 2px 2px 6px 2px var(--color); */
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
              0 3px 24px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.stock-order-form {
  /* background-color: grey; */
}

.stock-order-stats {

}

.stock-order-stats > div {
  padding: 10px;
}

.buying-power {
  /* background-color: darkgrey */
}

.order-form-header {
  font-family: var(--font-family);
  color: var(--color-text);
  display: flex;
  font-weight: bold;
  /* flex-direction: column; */
  border-bottom: 1px solid var(--color-text);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.order-form-row-1 {
  font-family: var(--font-family);
  color: var(--color-text);
  /* border-bottom: 1px solid var(--color-text); */
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.order-form-row-2 {
  font-family: var(--font-family);
  color: var(--color-text);
  border-bottom: 1px solid var(--color-text);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.order-form-current-price {
  font-size: 16px;
  color: var(--color-text);
  font-weight: bold;
}

.order-form-row-3 {
  font-family: var(--font-family);
  color: var(--color-text);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.order-form-row-5 {
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.order-form-row-6 {
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

}

.order-form-footer {
  font-family: var(--font-family);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 20px;
  border-top: 1px solid  #eee;
  text-align: center;
}

.order-form-footer > div {
  font-size: 14px;
  padding: 5px;
}

.order-form-submit {
  width: 90%;
  height: 40px;
  color: var(--color-text);
  background-color: rgb(35,205,153);
  border-color: rgb(35,205,153);
  border-radius: 8px;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  /* background-image: linear-gradient(to left, transparent, transparent 50%,  rgb(24,86,62) 50%, rgb(24,86,62)); */
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.order-form-submit:hover {
  background-position: 0 0;
  color: #FCFCFC;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(24,86,62);
  filter: brightness(125%);
  overflow: hidden;
  transition: .5s ease;
}
.input-shares {
  border: 1px solid transparent;
  background: #FAFAFA;
  width: 80px;
  padding: 10px;
  text-align: right;
}

.add-watchlist-button {
  width: 60%;
  height: 40px;
  color: var(--color-text);
  border: 1px solid  rgb(35,205,153);
    /* width: 180px; */
  margin: 0 auto;
    /* color: var(--chart-color); */
  /* background-color: rgb(35,205,153); */
  border-color: rgb(35,205,153);
  border-radius: 8px;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  /* background-image: linear-gradient(to left, transparent, transparent 50%,  rgb(24,86,62) 50%, rgb(24,86,62)); */
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-watchlist-button:hover {
  background-position: 0 0;
  color: #FCFCFC;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(24,86,62);
  filter: brightness(125%);
  overflow: hidden;
  transition: .5s ease;
}