.stock-show-main {
  /* height: 100%;
  width: 100%; */
  height: inherit;
  width: inherit;
  display: flex;
  /* background-color: grey; */
  margin-top: 78px;
}

.stock-show-container-1 {
  /* height: 100%;
  width: 70%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  height: 100%;
  width: 70%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
  /* border-radius: 10px; */
}

.stock-show-container-1 > div {
  margin: 20px;
}

.stock-show-container-2 {
  /* height: 100%;
  width: 30%;
  background-color: lightcyan;
  display: flex;
  justify-content: space-around; */
  height: 100%;
  width: 30%;
  /* margin-top: 20px; */
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: flex-end; */
  /* padding: 20px; */
}

.stock-show-chart {
  height: 400px;
  width: 85%;
  display: flex;
  background-color: lightgreen;
}

.stock-info-container {
  height: 400px;
  width: 85%;
  background-color: yellow
}

.stock-info-header {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--color-text);
  padding: 20px 0px 20px 0px;
  /* padding-bottom: 20px; */
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
}

.stock-info-description {
  margin: 20px;
}

.stock-info-description > div {
  margin: 20px;
}

.stock-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stock-stats-1 {
  height: 100%;
  width: 100%;
  display: flex;
}

.stock-stats-1 > div {
  font-size: 14px;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 30px; */
  margin: 30px;
}

.stock-stats-2 {
  height: 60%;
  display: flex;
}

.stock-show-news-container {
  width: 80%;
  /* padding-top: 45px; */
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 6px 2px var(--color); */
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01),
              0 3px 24px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.stock-order-container {
  background-color: black;
  padding-top: 40px;
  width: 90%;
  height: 10%;
  margin: 20px;
}

.stock-order-form {
  /* background-color: grey; */
}

.buying-power {
  /* background-color: darkgrey */
}
