.stock-show-main {
  /* height: 100%;
  width: 100%; */
  height: inherit;
  width: inherit;
  display: flex;
  background-color: grey;
  margin-top: 50px;
}

.stock-show-container-1 {
  /* height: 100%;
  width: 70%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  height: 100%;
  width: 80%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
  border-radius: 10px;
}

.stock-show-container-1 > div {
  margin: 20px;
}

.stock-show-container-2 {
  /* height: 100%;
  width: 30%;
  background-color: lightcyan;
  display: flex;
  justify-content: space-around; */
  height: 100%;
  width: 20%;
  background-color: skyblue;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: flex-end; */
  /* padding: 20px; */
}

.stock-show-chart {
  height: 400px;
  width: 85%;
  display: flex;
  background-color: lightgreen;
}

.stock-info-container {
  height: 400px;
  width: 65%;
  background-color: yellow
}

.stock-show-news-container {
  height: 100%;
  width: 75%;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 6px 2px var(--color);
  border-radius: 4px;
}