html {
    height: 100%;
    font-family: 'Montserrat';

    display: grid;
    align-items: center;
    justify-items: center;

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    /* --font-family: "DIN Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; */
    --font-family: 'Oxygen';
    --color-text: #333333;
    --color:#333333;
    --fill: black;
    --splash-bg: rgb(247,248,252);
    --shadow: rgb(255,255,255);
    --news-box-hover: rgb(240,240,240);
    --border-color: #EEEEEE;
    --chart-color: #67CF9A;
}

html[data-theme='dark'] {
    --bg: #1B1B1D;
    --bg1: #333333;
    --bg-panel1: #434343;
    --bg-panel: #333333;
    --color-headings: #3694FF;
    --font-family: 'Oxygen';
    /* --font-family: "DIN Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; */
    --color-text: #FCFCFC;
    --color: #FCFCFC;
    --fill: #FCFCFC;
    --opacity: 0;
    --splash-bg: #1B1B1D;
    --news-box-hover: #434343;
    --border-color: rgba(0,0,0,0.6);
    
}

body {
  background-color: var(--bg);
  height: 100%;
  width: 100%;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 300ms !important;
  transition-delay: 0 !important;
}

#root {
  width: 100%;
  height: 100%;
}

.main-div {
  width: 100%;
  height: 100%;
}

.username-container [type=text] {
  color: black;
}
.password-container [type=password] {
  color: black;
}

a, a:active, a:focus {
  outline: none;
}

::placeholder {
  padding-left: 10px;
}

h3 {
  font-family: var(--font-family);
  color: var(--color-text);
}