html {
    height: 100%;
    font-family: 'Montserrat';

    display: grid;
    align-items: center;
    justify-items: center;

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --font-family: 'Abel', sans-serif;
    --color-text: #333333;
    --color:#333333;
    --fill: black;
    --splash-bg: rgb(247,248,252);
    --shadow: rgb(255,255,255);
    --news-box-hover: rgb(240,240,240);
}

html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --font-family: 'Abel', sans-serif;
    --color-text: #FCFCFC;
    --color: #FCFCFC;
    --fill: #FCFCFC;
    --opacity: 0;
    --splash-bg: #333333;
    --news-box-hover: #434343;
    
}

body {
  background-color: var(--bg);
  height: 100%;
  width: 100%;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 300ms !important;
  transition-delay: 0 !important;
}

#root {
  width: 100%;
  height: 100%;
}

.main-div {
  width: 100%;
  height: 100%;
}

.username-container [type=text] {
  color: black;
}
.password-container [type=password] {
  color: black;
}

a, a:active, a:focus {
  outline: none;
}