.theme-switch-wrapper {
  display: flex;
  align-items: center;

}
.theme-switch {
  display: inline-block;
  height: 15px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 27px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 25px;
}

input:checked + .slider {
  background-color: rgb(35,205,153);
}

input:checked + .slider:before {
  transform: translateX(32px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
